<h1>Nuevo Mensaje</h1>

<form #f="ngForm" novalidate>
    <div class="form-group">
        <label>Usuario Destino:</label>
        <select class="form-control"  name="name" required [(ngModel)]="profileId" >
          <option *ngFor="let profile of profiles" [value]=" profile.user ">{{profile.name}}</option>
        </select>

        <div *ngIf="f.controls.name?.invalid && f.controls.name?.touched" class="error">
            Dato invalido
        </div>

        <div *ngIf="errors.name" class="error">
            {{errors.name}}
        </div>
    </div>

    <div class="form-group">
      <label>Contenido del Mensaje:</label>
      <input type="text" class="form-control" name="description" [class.errorBorder]="errors['description']" [(ngModel)]="message.content" required [minlength]="3" [maxLength]="180">

      <div *ngIf="f.controls.description?.errors?.minlength && f.controls.description?.touched" class="error">
          Minimo 3 caracters, maximo 180
      </div>

      <div *ngIf="errors.description" class="error">
          {{errors.description}}
      </div>
    </div>

    <button class="btn btn-default" [routerLink]="['/mensajes']">Cancelar</button>
    <button class="btn btn-success" (click)="submitForm()" [disabled]="f.invalid">Guardar</button>
</form>
