<div class="container">
    <table cellspacing='0'>
        <thead>
            <tr>
                <th colspan=3>
                    <div [style.font-size.em]='2'>Mascotas</div>
                </th>
            </tr>
            <tr>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <!-- ngFor en el click del renglon se ejecuta un metodo, se le pasa la mascota actual -->
            <tr *ngFor="let mascota of mascotas">
                <td>{{mascota.name}}</td>
                <td>{{mascota.description}}</td>
                <td class="text">
                    <img src="/assets/edit.png" name="editar" [routerLink]="['/nuevaMascota/' + mascota._id ]" />
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-success" [routerLink]="['/nuevaMascota']">Nueva</button>
    <button class="btn btn-default" [routerLink]="['/']">Volver</button>
</div>